@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  font-family: "Poppins", sans-serif;
}

.leaf-decoration {
  position: absolute;
  opacity: 0.07;
  z-index: -1;
}

.leaf-1 {
  top: 100px;
  left: 5%;
  width: 150px;
  transform: rotate(-20deg);
}

.leaf-2 {
  bottom: 80px;
  right: 5%;
  width: 180px;
  transform: rotate(15deg);
}

.holographic-card {
  /* width: 300px;
  height: 200px; */
  /* background: #111; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  /* box-shadow: 0 0 10px #a9a9a9; */
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  /* background: linear-gradient(0deg, transparent, transparent 30%, #e16b33); */
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 55s linear infinite;
}

.animate-slide-reverse {
  animation: slide-reverse 55s linear infinite;
}

.word-rotator {
  position: relative;
  height: 80px;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.word-rotator span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #e16b33;
  opacity: 0;
  transform: translateY(0) rotateX(0);
  animation: rotateWords 7.5s linear infinite;
}

.word-rotator span:nth-child(1) {
  animation-delay: 0s;
}
.word-rotator span:nth-child(2) {
  animation-delay: 2.5s;
}
.word-rotator span:nth-child(3) {
  animation-delay: 5s;
}

@keyframes rotateWords {
  0% {
    opacity: 0.3;
    transform: translateY(-50%) rotateX(30deg) scale(0.85);
    z-index: 1;
  }
  20% {
    opacity: 1;
    transform: translateY(0) rotateX(0) scale(1);
    z-index: 3;
  }
  40% {
    opacity: 0.3;
    transform: translateY(50%) rotateX(-30deg) scale(0.85);
    z-index: 2;
  }
  60%,
  100% {
    opacity: 0;
    transform: translateY(0) rotateX(0) scale(1);
    z-index: 0;
  }
}
